body {
    margin: 0;
    padding: 0;
    background-color: #6cc6c6;
    font-family: Arial, sans-serif;
}


.one {
    width: 450px;
    background: #ffffff;
    margin: 80px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: black
}


h2 {
    text-align: center;
    margin-bottom: 30px;
}


.form {
    margin-bottom: 20px;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
   border-color: wheat;
    box-sizing: border-box;
}





button {
    width: 100%;
    height: 40px;
    background-color: #71d2d2;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #4aa4a4;
}